.hideSidebar>aside {
	width: 3.8rem;
	flex-grow: 0;

	>nav>span:first-child {
		opacity: 0;
		transition: opacity 0.35s;
	}
}

.hideSidebar>div {
	width: 100%;
}

.showSidebar>aside {
	width: var(--sidebar-width);
}

.initialSidebar>aside {
	transition: width 0.35s;
}